@font-face {
    font-family: vazir;
    src: url(vazir.woff2);
}

body {
    font-family: vazir !important;
}

.carousel-control-prev {
    transform: rotate(180deg)
}

.carousel-control-next {
    transform: rotate(180deg)
}